+++
title = "Меркурий .net"
linkTitle = "Mercury.net"
+++

{{< blocks/cover title="Пакетное гашение в Меркурии бесплатно" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Справка <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://app.меркурий.net/v-0.2">
		Попробовать <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a><br>
		<a class="btn btn-lg btn-warning mr-3 mb-4" href="/docs/connect/">
		Подключиться к Ветис.Api <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<p class="lead mt-5">групповое гашение бесплатно</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}

</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Mercury.net работает у вас на ПК, либо на вашем сервере <br>
Ваши учетные данные передаются только в сторону Ветис.Api<br>
Удобное приложение в браузере для доступа к программе
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-hand-pointer" title="Удобно" %}}
Простой интерфейс
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shipping-fast" title="Быстро" %}}
В разы быстрее веб-версии Меркурия Россельхознадзор
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-coins" title="Бесплатно" %}}
Базовые возможности бесплатно...
{{% /blocks/feature %}}


{{< /blocks/section >}}

